.one-page{
  min-height: 100vh;
  background-color: #282c34;
  color:#fff;
  *{margin-bottom: 10px;}
  .one-page-title{
    padding:20px;
    margin-bottom: 0;
    color:rgb(97, 218, 251);
  }
  .one-page-content{
    margin-left:20px;
  }
}