body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{padding:0;margin:0;}
ul,ol,li{ list-style-type: none; }
a{color:#fff;} a:hover{color:#0f0;cursor: pointer;}
input{box-sizing:border-box;outline:0;width:200px;border:1px solid transparent;color:#000;box-shadow:1px 1px 10px#000;height:30px;line-height: 30px;padding:0 10px;border-radius: 2px;&:focus{border-color: #0f0;}}
input[type=submit] ,button {outline: none;height:30px;line-height:30px;border: 1px solid transparent;padding:0 10px;font-size: 18px;border-radius:2px;background: #fff;cursor: pointer;}
button:hover,button:active{background: #999;color:#fff;}