.App {
  min-height: 100vh;
  background-color: #282c34;
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 20vmin;
    pointer-events: none;
  }
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61dafb;
    margin-left: 20px;
  }
  .App-nav li{
    display: inline-block;
    margin-right: 20px;
    & a{color:#fff;}
    & a:hover{
      color:#f00;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
